<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryLabUserId" value="sip:bchihani@mocass.rd.francetelecom.fr"/>
    <add key="SecondaryLabUserId" value="sip:smanai@mocass.rd.francetelecom.fr"/>
    <add key="ApplicationName" value="LaunchLinkCWE"/>
    <add key="ApplicationGuid" value="{E222C0E4-5C01-4975-B053-845EAAF82CFE}"/>
  </appSettings>
</configuration>