<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="applicationId" value="urn:application:myucmaapp"/>
    <add key="applicationName" value="dev-ta.mocass.rd.francetelecom.fr"/>
    <add key="gruu" value="dev-ta.mocass.rd.francetelecom.fr"/>
    <add key="listeningPort" value="10600"/>
    <add key="contactUri" value="sip:myucmaapp@mocass.rd.francetelecom.fr"/>
    <!-- <add key="proxyServerFqdn" value="fe1.mocass.rd.francetelecom.fr"/> -->
    <add key="proxyServerFqdn" value="c-jte-mcs1-fe2.mocass.rd.francetelecom.fr"/>
    <add key="recipientSipUri" value="sip:bchihani@mocass.rd.francetelecom.fr"/>
    <add key="supervisorSipUri" value="sip:bsamson@mocass.rd.francetelecom.fr"/>
  </appSettings>
</configuration>