<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
<log4net>
  <!-- A1 est un ConsoleAppender -->
  <appender name="FileLogAppender" type="log4net.Appender.FileAppender">
    <file value="log.txt"/>
    <appendToFile value="true"/>
    <!-- A1 utilise un PatternLayout -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="Log4net.CompagnieDeLogistique" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="INFO" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] %date %logger - %message" />
    </layout>
  </appender>
  <!-- On définit le logger root au niveau DEBUG et on l'associe à l'appender A1 -->
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="A1" />-->
  </root>
  <logger name="MonitoringLogger">
    <level value="ALL"/>
    <appender-ref ref="FileLogAppender"/>
    <appender-ref ref="EventLogAppender"/>
  </logger>
  <logger name="ExceptionLogger">
    <level value="ERROR"/>
    <appender-ref ref="FileLogAppender"/>
  </logger>
</log4net>
</configuration>